* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 3rem;
    min-height: 100vh;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashbord-wrapper {
        .dashboard-name {
            font-size: 3rem;
            background-color: transparent;
            border: 0;
            margin-bottom: 3rem;
            cursor: pointer;
        }

        form {
            display: none;
            gap: 1em;
            margin-bottom: 3rem;
            input {
                font-size: 3rem;
                padding: 0.5em 1em;
                border-radius: 0.25em;
                border: 0;
            }
            button {
                display: inline-block;
                font-size: 1.5rem;
                color: #fff;
                background-color: hsl(0 0% 80%);
                border: 0;
                border-radius: 0.25em;
                padding: 0.5em 1em;
                cursor: pointer;

                &:hover {
                    background-color: hsl(0 0% 70%);
                }
            }
        }
    }
}
.date-continer {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    background-color: hsl(0 0% 90%);
    padding: 0.5em 6em;
    border-radius: 6em;
}
.canban-bord {
    display: grid;
    grid-template-columns: repeat(4, 360px);
    gap: 1rem;

    .bord {
        background-color: #efefef;
        padding-inline: 1rem;
        padding-block: 2.4rem;
        border-radius: 1rem;

        h2 {
            justify-self: center;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 1rem;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            max-height: 370px;
            li {
                background-color: #fff;
                padding: 0.5rem;
                border-radius: 0.5rem;
                list-style: none;
                scroll-snap-align: start;
            }
        }
    }
}

.links-bord {
    display: flex;
    flex-direction: column;
    ul {
        margin-bottom: 1rem;
        li {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 0.5rem;
            align-items: center;

            font-size: 1.4rem;

            img {
                aspect-ratio: 1;
                width: 64px;
            }

            a {
                text-decoration: none;
                color: #000;
            }

            button {
                align-self: flex-start;
                font-size: 1rem;
                color: hsl(0 0% 90% / 1);
                background-color: transparent;
                padding: 0;
                border: 0px;
                cursor: pointer;

                &:hover {
                    color: hsl(0 0% 80%);
                    background-color: transparent;
                }
            }
        }
    }
    dialog {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        border: 0;
        border-radius: 0.5rem;
        box-shadow: 0 0 30px hsl(0 0% 0% / 0.5);

        &::backdrop {
            background-color: hsl(0 0% 0% / 0.4);
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            label {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-size: 1.2rem;

            }
            input {
                font-size: 1.5rem;
                padding: 0.5em 1em;
                border-radius: 0.25em;
            }
            button {
                align-self: flex-start;
            }
        }
    }
    button {
        display: flex;
        gap: 0.5em;
        align-self: center;
        align-items: center;

        font-size: 1.5rem;
        color: #fff;
        border: 0px;
        padding: 0.5em 1em;
        border-radius: 0.25em;
        background-color: hsl(0 0% 80%);
        cursor: pointer;

        &:hover {
            background-color: hsl(0 0% 70%);
        }
    }
}

.wetter-bord ul li {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;

    p {
        grid-column: 2 / -1;
    }

    img {
        grid-row: 1 / -1;
        aspect-ratio: 1;
        width: 64px;
        margin-right: 0.5rem;
    }
    span {
        justify-self: flex-start;
        align-self: flex-start;
        background-color: #efefef;
        padding: 0.2em 0.8em;
        border-radius: 0.25em;
    }
}

.note-bord {
    display: flex;
    flex-direction: column;
    form {
        height: 100%;
        textarea {
            font-size: 1.5rem;
            height: 100%;
            width: 100%;
            border-radius: 0.25rem;
            padding: 1em;
            resize: none;
            box-sizing: border-box;
        }
    }
}

.change-bg {
    display: flex;
    gap: 1em;
    font-size: 1.4rem;
    color: #fff;
    background-color: hsl(0 0% 80%);
    border: 0;
    border-radius: 0.25em;
    padding: 0.5em 1em;
}
